version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/api"
    schedule:
      interval: "daily"

  - package-ecosystem: "npm"
    directory: "/web-app"
    schedule:
      interval: "daily"
