# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=teste
DB_PASSWORD=teste
DB_NAME=expense_tracker
DB_SSL=false

# API Configuration
API_PORT=3000
API_URL=http://localhost:3000

# Environment
NODE_ENV=development

FRONTEND_URL=http://localhost:4200
