body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $spacing-md;
  font-weight: 500;
  color: var(--text-color);
}

p {
  margin-top: 0;
  margin-bottom: $spacing-md;
  line-height: 1.5;
}
